<div>
    <terra-portlet>
        <div class="container-fluid user-profile-container">
            <div class="row user-profile">
                <div class="user-image col-md-2">
                    <img src="https://www.xing.com/assets/frontend_minified/img/users/nobody_m.1024x1024.jpg">
                </div>
                <div class="user-info col-md-10">
                    <div>
                        <div class="user-name">
                            <h2>{{_currentUser.userName}}</h2>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <th>Vorname:</th>
                                    <td>{{_currentUser.firstName}}</td>
                                </tr>
                                <tr>
                                    <th>Nachname:</th>
                                    <td>{{_currentUser.lastName}}</td>
                                </tr>
                                <tr>
                                    <th>Klasse:</th>
                                    <td>{{_currentUser.userClass}}</td>
                                </tr>
                                <tr>
                                    <th>E-Mail:</th>
                                    <td>{{_currentUser.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="profile-buttons">
                        <div class="settings-button btn-group">
                            <terra-button inputIcon="icon-add"
                                          [inputIsTertiary]="true"
                                          inputTooltipPlacement="left"
                                          inputTooltipText="Add Book"
                                          (outputClicked)="openNewBookView()">
                            </terra-button>
                            <terra-button inputIcon="fas fa-cog"
                                          (outputClicked)="openOverlay(viewChildOverlayProfileSettings)">
                            </terra-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="books">
            <div *ngFor="let book of _currentUser.books">
                {{book.book_id}}
            </div>
        </div>
    </terra-portlet>
    <terra-overlay #viewChildOverlayProfileSettings
                   inputOverlayTitle="Profile Settings"
                   [inputIsSmall]="true"
                   [inputPrimaryButtonInterface]="_validateAndSaveProfileData">
    </terra-overlay>
</div>
<terra-alert-panel ngClass="profile-alert"></terra-alert-panel>