.user-profile-container
{
    border-bottom: 1px solid;
    .user-profile
    {
        margin-bottom: 12px;
        .user-image
        {
            img
            {
                width: 150px;
                border-radius: 100%;
                border: 1px solid;
            }
        }
        .user-info
        {
            display: flex;
            .user-name
            {
                margin-bottom: 15px;
            }
            table
            {
                th
                {
                    width: 50%;
                }
            }
            .profile-buttons
            {
                flex: auto;
                .settings-button
                {
                    float: right;
                }
            }
        }
    }
}

.books
{
    margin-top: 20px;
}