<div class="container">
    <div class="row">
        <div class="col-md-12">
            <terra-portlet>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Add new book</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <terra-text-input inputName="booktitle">
                            </terra-text-input>
                            <terra-text-input inputName="isbn">
                            </terra-text-input>
                            <terra-text-input inputName="release-date">
                            </terra-text-input>
                            <terra-text-input inputName="image-url">
                            </terra-text-input>
                            <terra-text-input inputName="website">
                            </terra-text-input>
                            <terra-checkbox inputCaption="Disk?">
                            </terra-checkbox>
                        </div>
                        <div class="col-md-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-11">
                                        <terra-suggestion-box inputName="choose publisher"
                                                              [inputListBoxValues]="publisherValues"
                                                              inputIsRequired="true">
                                        </terra-suggestion-box>
                                    </div>
                                    <div class="col-md-1">
                                        <terra-button inputIcon="icon-add"
                                                      [inputIsTertiary]="true"
                                                      (outputClicked)="openAddPublisherOverlay()">
                                        </terra-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <terra-suggestion-box inputName="choose authors"
                                                              [inputListBoxValues]="authorValues"
                                                              inputIsRequired="true">
                                        </terra-suggestion-box>
                                    </div>
                                    <div class="col-md-1">
                                        <terra-button inputIcon="icon-add"
                                                      [inputIsTertiary]="true"
                                                      (outputClicked)="openAddAuthorOverlay()">
                                        </terra-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <terra-suggestion-box inputName="choose storage"
                                                              [inputListBoxValues]="storageValues"
                                                              inputIsRequired="true">
                                        </terra-suggestion-box>
                                    </div>
                                    <div class="col-md-1">
                                        <terra-button inputIcon="icon-add"
                                                      [inputIsTertiary]="true"
                                                      (outputClicked)="openAddStorageOverlay()">
                                        </terra-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <terra-suggestion-box inputName="choose owner"
                                                              [inputListBoxValues]="ownerValues"
                                                              inputIsRequired="true">
                                        </terra-suggestion-box>
                                    </div>
                                    <div class="col-md-1">
                                        <terra-button inputIcon="icon-add"
                                                      [inputIsTertiary]="true"
                                                      (outputClicked)="openAddOwnerOverlay()">
                                        </terra-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 genre-container">
                                        <terra-portlet ngClass="genre-portlet"
                                                       inputPortletHeader="Genre"
                                                       [inputCollapsed]="true"
                                                       [inputIsCollapsable]="true">
                                            <div>
                                                <ul class="genre-list">
                                                    <li class="genre-entry" *ngFor="let genre of genreValues; let i = index"
                                                        [attr.data-index]="i">
                                                        <label class="checkbox-label">
                                                            <div class="checkbox-container">
                                                                <span class="genre-checkbox">
                                                                    <input type="checkbox"
                                                                           [(ngModel)]="selectedGenre[i].isSelected">
                                                                    <span class="genre-name">{{genre.name}}</span>
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </terra-portlet>
                                    </div>
                                    <div class="col-md-1">
                                        <terra-button inputIcon="icon-add"
                                                      [inputIsTertiary]="true"
                                                      (outputClicked)="openAddGenreOverlay()">
                                        </terra-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-md-right">
                                <terra-button inputCaption="Save new Book">
                                </terra-button>
                            </div>
                        </div>
                    </div>
                </div>
            </terra-portlet>
        </div>
    </div>
</div>
<terra-overlay #newAuthorOverlay
               inputOverlayTitle="Add new author"
               [inputPrimaryButtonInterface]="authorOverlayButton">
    <div>
        Author
    </div>
</terra-overlay>
<terra-overlay #newStorageOverlay
               inputOverlayTitle="Add new storage"
               [inputPrimaryButtonInterface]="storageOverlayButton">
    <div>
        Storage
    </div>
</terra-overlay>
<terra-overlay #newOwnerOverlay
               inputOverlayTitle="Add new owner"
               [inputPrimaryButtonInterface]="ownerOverlayButton">
    <div>
        <terra-text-input inputName="Company"
                          [(ngModel)]="newOwnerData.company"
                          [inputIsDisabled]="!checkIfInputIsEmpty(newOwnerData.firstName) || !checkIfInputIsEmpty(newOwnerData.lastName)">
        </terra-text-input>
        <terra-text-input inputName="Firstname"
                          [(ngModel)]="newOwnerData.firstName"
                          [inputIsDisabled]="!checkIfInputIsEmpty(newOwnerData.company)">
        </terra-text-input>
        <terra-text-input inputName="Lastname"
                          [(ngModel)]="newOwnerData.lastName"
                          [inputIsDisabled]="!checkIfInputIsEmpty(newOwnerData.company)">
        </terra-text-input>
    </div>
</terra-overlay>
<terra-overlay #newGenreOverlay
               inputOverlayTitle="Add new genre"
               [inputPrimaryButtonInterface]="genreOverlayButton">
    <div>
        <terra-text-input inputName="Genre"
                          [(ngModel)]="newGenreData">
        </terra-text-input>
    </div>
</terra-overlay>
<terra-overlay #newPublisherOverlay
               inputOverlayTitle="Add new publisher"
               [inputPrimaryButtonInterface]="publisherOverlayButton">
    <div>
        Publisher
    </div>
</terra-overlay>