.genre-container
{
    line-height: 28px;
    .genre-list
    {
        list-style: none;
        padding: 0;
        background-color: white;
        border-radius: 5px;
        .genre-entry
        {
            border-bottom: 1px solid #E0E0E0;
            height: 36px;
            .checkbox-label
            {
                width: 100%;
                height: 100%;
                &:hover
                {
                    cursor: pointer;
                    background-color: #f2f2f2;
                }
                .checkbox-container
                {
                    width: 100%;
                    height: 100%;
                    .genre-checkbox
                    {
                        line-height: 36px;
                        margin-left: 10px;
                        .genre-name
                        {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .genre-entry:last-child
        {
            border: none;
        }
    }
}
