<div class="login-view container-fluid">
    <div class="row header">
        <div class="col-md-7">
            <a routerLink="/home" routerLinkActive="active">
                <img src="https://drive.google.com/uc?id=1ffGUN7CJ2Dz_uFcJobtnKWqnyrrtmiW4">
            </a>
        </div>
        <div class="col-md-5 text-md-right">
            <div *ngIf="loggedIn" class="profile">
                <div class="username">{{_currentUser.userName}}</div>
                <terra-button-with-options ngClass="profile-button"
                                           inputIcon="fas fa-bars"
                                           inputOptionsAlignment="left"
                                           [inputOptions]="buttonOptionList">
                </terra-button-with-options>
            </div>
            <div *ngIf="!loggedIn">
                <terra-portlet>
                    <div class="container-fluid">
                        <div class="row login-form">
                            <div class="col-md-5">
                                <terra-text-input inputName="Username"
                                                  [(ngModel)]="userName"
                                                  (keydown.enter)="validateDataAndLogin(userName, password)">
                                </terra-text-input>
                            </div>
                            <div class="col-md-5">
                                <terra-text-input inputName="Password"
                                                  [(ngModel)]="password"
                                                  [inputIsPassword]=true
                                                  (keydown.enter)="validateDataAndLogin(userName, password)">
                                </terra-text-input>
                            </div>
                            <div class="col-md-2">
                                <terra-button
                                    (outputClicked)="validateDataAndLogin(userName, password)"
                                    inputIcon="fas fa-sign-in-alt">
                                </terra-button>
                            </div>
                        </div>
                        <div class="row registration-link">
                            <div class="col-md-12 text-md-left">
                                <a routerLink="/registrierung" routerLinkActive="active">Create an new account</a>
                            </div>
                        </div>
                    </div>
                </terra-portlet>
            </div>
        </div>
    </div>
</div>
