.login-view
{
    background-color: #275FA6;
    border-bottom: 2px solid black;
    padding: 17px 15px;
    .header
    {
        margin: 0;
        .login-form
        {
            margin-bottom: 5px;
        }
        
        .registration-link
        {
            a
            {
                text-decoration: none;
            }
        }
        
        .profile
        {
            float: right;
            align-items: center;
            display: flex;
            .username
            {
                margin-right: 10px;
                float: left;
                color: white;
                font-size: 20px;
            }
        }
    }
}
