@import '../node_modules/@plentymarkets/terra-components/app/assets/styles/icons.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/index.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/app/assets/themes/theme-dark-standard.scss';
@import '../node_modules/@plentymarkets/terra-components/app/assets/themes/theme-dark-compact.scss';

body::-webkit-scrollbar
{
    width: 0 !important
}

.profile-alert
{
    top: 10px !important;
}

.search-portlet
{
    .portlet
    {
        margin-bottom: 20px !important;
    }
}

.login-form
{
    .btn-handler
    {
        width: 100% !important;
    }
}

.more
{
    color: #9E9E9E !important;
}

.noPadding
{
    padding: 0 !important;
    margin: 0 !important;
}

.genre-portlet
{
    .portlet-body
    {
        max-height: 155px !important;
        overflow-y: scroll !important;
    }
}

.unicorn
{
    
    .marquee
    {
        display: block !important;
    }
    
    background-color: #FFCEE9 !important;
    
    .modal-header
    {
        .btn-handler
        {
            .btn
            {
                background-color: white !important;
            }
        }
    }
    .btn-handler
    {
        .btn
        {
            background-color: #A7005C !important;
        }
    }
    
    .login-view
    {
        background-color: #E6007E !important;
    }
}