@import '../node_modules/@plentymarkets/terra-components/app/assets/styles/icons.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/index.glob.scss';

body
{
    background-color: white !important;
    padding: 15px !important;
}

body::-webkit-scrollbar
{
    width: 0 !important
}

.profile-alert
{
    top: 10px !important;
}

.search-portlet
{
    .portlet
    {
        margin-bottom: 20px !important;
    }
}

.login-form
{
    .btn-handler
    {
        width: 100% !important;
    }
}

.more
{
    color: #9E9E9E !important;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}