<terra-portlet ngClass="search-portlet">
    <div>
        <div class="row header">
            <div class="col-md-6 vcenter">
                <h1>School Libary</h1>
            </div>
            <div class="col-md-6 text-md-right">
                <div class="profile vcenter">
                    <div class="username">Tobias Wagner</div>
                    <terra-button ngClass="profile-button"
                                  inputIcon="icon-user_my_account"
                                  inputIsLarge="true">
                    </terra-button>
                </div>
            </div>
        </div>
    </div>
    <div class="search-bar-container">
        <div>
            <terra-text-input [(ngModel)]="_searchValue"
                              (ngModelChange)="checkInput()"
                              inputName="book search">
            </terra-text-input>
        </div>
    </div>
</terra-portlet>
<div class="books-wrapper">
    <div class="books-container" *ngFor="let book of _books">
        <div class="book-container" id="{{book.id +'_container'}}">
            <div class="book-info">
                <div class="book-image">
                    <img src={{book.imageUrl}}>
                </div>
                <div>
                    <h1>{{book.title}}</h1>
                    <div class="row book-info">
                        <div class="book-info-data col-md-2">
                            <div>Author: {{book.author}}</div>
                            <div>Verlag: {{book.publisher}}</div>
                        </div>
                        <div class="book-info-description col-md-6">
                            <div>
                                <div>Beschreibung:</div>
                                <div [innerHTML]="book.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>