.book-container
{
    background-color: #F3F3F3;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 10px;
    .book-info
    {
        width: 1240px;
        display: flex;
        margin: 0;
        padding: 0;
        .book-image
        {
            float: left;
            margin: 0 10px 0 0;
            padding: 0;
            border-radius: 10px;
            img
            {
                width: 100px;
                height: 135px;
            }
        }
        .book-info-data
        {
            margin-right: 10px;
        }
    }
}

.vcenter
{
    display: flex;
    align-items: center;
}

.search-bar-container
{
    margin: 0;
}

.header
{
    margin: 0 0 10px 0;
}